<div class="mt-4">
    <div class="table-header p-4">
      <a href="/me/stored/course" class="link"><i class="fa fa-backward"></i>Back to My Courses</a>
      <h2>Trashed courses</h2>
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">VideoID</th>
          <th scope="col">Deleted_at</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{ this.name }}</td>
          <td>{{ this.videoId}}</td>
          <td>{{ this.deletedAt}}</td>
          <td>
            <a class="btn btn-info restore-btn" href="" data-id="{{ this._id }}">
              <i class="fa fa-redo"></i>
              Restore
            </a>
            <!-- Button trigger modal -->
            <a href="/course/{{ this._id }}/force?_method=DELETE" class="btn btn-danger" type="button" data-id="{{ this._id }}" data-toggle="modal" data-target="#deleteCourseModal">
              <i class="fa fa-trash"></i>
              Force delete 
            </a>
            </div>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">There is no trashed course.
            <a href="/me/stored/course" class="link"><i class="fa fa-backward"></i>Back to My Courses</a>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>


</div>

{{!-- hidden delete form --}}
<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

{{!-- Confirm delete course modal --}}
<div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="deleteCourseModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Force Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to force delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="delete-course-btn" class="btn btn-danger">Process to Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var courseId;
    var deleteBtn = document.getElementById('delete-course-btn')
    var deleteForm = document.forms['delete-course-form']
    var restoreForm = document.forms['restore-course-form']
    var restoreBtn = $('.restore-btn')

    // When delete modal show
    $('#deleteCourseModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      courseId = button.data('id')
    })

    // When delete btn clicked
    deleteBtn.onclick = function() {
      deleteForm.action = `/course/${courseId}/force?_method=DELETE`
      deleteForm.submit()
    }

    // When restore btn clicked
    restoreBtn.click(function(e) {
      e.preventDefault()
      courseId = $(this).data('id')
      restoreForm.action = `/course/${courseId}/restore?_method=PATCH`
      restoreForm.submit()
    })

  })
</script>